.h_img {
    background-image: url('..//images/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #ffffff;
    height: 100vh;
}

#logo {
    margin-top: 150px;
    width: 70px;
    height: 70px;
}

.h_img h1 {
    padding: 2px;
    margin: 5px;
    margin-bottom: 20px;
}

.h_img p {
    padding: 2px;
    margin-bottom: 20px;
}